{% extends 'base.html.twig' %}

{% block title %}Product list{% endblock %}

{% block body %}
    <div>
        <a href="{{ path('product_add') }}">Create new</a>
    </div>
    <table>
        <caption>Basic products list</caption>
        <thead>
            <tr>
                <th>Name</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Special Offer</th>
                <th>Weighting</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <td>{{ product.name }}</td>
                <td>{{ product.price }}</td>
                <td>{{ product.stock }}</td>
                <td>
                   {% if product.specialOffer.type is not null %}
                        {{ product.specialOffer.type }}
                       {% if product.specialOffer.startDate is not null %}
                           <small>{{ product.specialOffer.startDate|date("Y-m-d") }}</small>
                       {% endif %}
                    {% else %}
                        -
                    {% endif %}
                </td>
                <td>{{ product.weighting }}</td>
                <td>
                    <a href="{{ path('product_edit', {uuid: product.uuid}) }}">edit</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <table>
        <caption>Weighted products list</caption>
        <thead>
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Special Offer</th>
            <th>Weighting</th>
        </tr>
        </thead>
        <tbody>
        {% for product in weighted_products %}
            <tr>
                <td>{{ product.name }}</td>
                <td>{{ product.price }}</td>
                <td>{{ product.stock }}</td>
                <td>
                    {% if product.specialOffer.type is not null %}
                        {{ product.specialOffer.type }}
                        {% if product.specialOffer.startDate is not null %}
                            <small>{{ product.specialOffer.startDate|date("Y-m-d") }}</small>
                        {% endif %}
                    {% else %}
                        -
                    {% endif %}
                </td>
                <td>{{ product.weighting }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
