{% extends 'base.html.twig' %}

{% block title %}Product list{% endblock %}

{% block body %}
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Special Offer</th>
                <th>Weight</th>
            </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <td>{{ product.name }}</td>
                <td>{{ product.price }}</td>
                <td>{{ product.stock }}</td>
                <td>
                   {% if product.specialOffer.type is not null %}
                        {{ product.specialOffer.type }}
                       {% if product.specialOffer.startDate is not null %}
                           <small>{{ product.specialOffer.startDate|date("Y-m-d") }}</small>
                       {% endif %}
                    {% else %}
                        -
                    {% endif %}
                </td>
                <td>{{ product.weighting }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
